.tabs
  .tabs__box
    .tabs__item(data-tabs="1")
      .tabs__trilerText PARAMETRY
    .tabs__item(data-tabs="2")
      .tabs__trilerText PLIKI DO POBRANIA


  .tabs__content(data-tabs="1")
    .tabs__text Udoskonalone szerokie nawiewy zapewniają skuteczne rozprowadzanie powietrza, zapobiegając powstawaniu tzw. martwych stref. Możliwość niezależnego sterowania każdej z czterech żaluzji osobno, dzięki instalacji indywidualnych silników.
  .tabs__content(data-tabs="2")
    include ../download/_download2

