.tabs
  +clearfix

  &__box
    width: 100%
    +clearfix
    position: relative

    &:before
      content: ""
      position: absolute
      left: 320px
      bottom: 0
      height: 1px
      width: 40%
      border-bottom: 1px solid black
      +LAPTOP_MAX
        width: 32%
      +TAB_MAX
        width: 22%
      +TAB_ONLY_880
        display: none

  &__item
    background: #006cff
    color: white
    padding: 10px 25px
    float: left
    cursor: pointer
    border-top: 1px solid transparent
    border-right: 1px solid transparent
    +PHONE_ONLY_480
      padding: 10px

  &__content
    display: none

  &__text
    padding: 20px 10px
    font-size: 16px