.news
  .container

    .news__sidebar
      include ../sidebar/_sidebar

    .news__content
      .news__info
        include ../about/_about

      .news__download
        include ../download/_download3

      .news__gallery
        include ../product/_product-three