.sidebar
  .sidebar__title 2016

  .sidebar__item
    .sidebar__nav STYCZEŃ
      .sidebar__new (1)
    .sidebar__box
      a.sidebar__link(href="#")
        .sidebar__navList Zakończyliśmy wdrożenie systemu klimatyzacji w galerii handlowej
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
  .sidebar__item
    .sidebar__nav LUTY
      .sidebar__new (2)
    .sidebar__box
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
  .sidebar__item
    .sidebar__nav MARZEC
      .sidebar__new (2)
    .sidebar__box
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Jednofazowe wskaźniki obecności napięcia
          .sidebar__plus 20.03.2015
  .sidebar__item
    .sidebar__nav KWIECIEŃ
      .sidebar__new (2)
    .sidebar__box
      a.sidebar__link(href="#")
        .sidebar__navList Zakończyliśmy wdrożenie systemu klimatyzacji w galerii handlowej
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Nowość w ofercie SAMSUNG - klimatyzator INVERT
          .sidebar__plus 20.03.2015
      a.sidebar__link(href="#")
        .sidebar__navList Idzie ciepłe lato, pomyśl o chłodnym biurze
          .sidebar__plus 20.03.2015
