.info
  +clearfix
  padding: 40px 0

  &__box
    width: 50%
    float: left
    padding: 10px
    text-align: center
    box-sizing: border-box

    &.-full
      width: 100%

  &__text
    text-align: left

  &__title
    width: 100%
    font-size: 32px
    padding: 30px 10px
    text-align: left

    &.-center
      text-align: center

  &__btn
    display: inline-block
    font-size: 20px
    padding: 10px 20px
    background: $blue
    color: white
    margin-top: 40px