.info
  .container
    .info__box.-full
      .info__title.-center O FIRMIE
    .info__box
      .info__text
        .cmsContainer
          p Naszym głównym celem w Hurtowni Air 4 You jest dostarczanie klientom zaawansowanych i dobranych indywidualnie systemów klimatyzacyjnych i wentylacyjnych. Współpracujemy z wieloma uznanymi w branży markami, w tym Samsung, LG, Mitsubishi oraz Toshiba, które dostarczają urządzenia różnorodnych typów zarówno do domów, jak i lokali komercyjnych czy biurowych.
          p Oferujemy klimatyzatory Samsung ścienne monosplit w serii RAC, serii monosplit CAC przeznaczone do zabudowy, także układy multi FJM, które pozwalają na przyłączenie nawet czterech jednostek wewnętrznych dowolnego rodzaju. Także sprzedajemy systemy klimatyzacyjne DVM, które oddają do dyspozycji pełną gamę różnych typów jednostek wewnętrznych, aby dopasować je indywidualnie do wymagań użytkowników.
          p Uzupełnieniem naszej palety urządzeń Samsung są rekuperatory ERV – wyjątkowo energooszczędne, wydajne i ciche, które są wyposażone w automatyczne by-passy oraz filtry klasy F8. Systemy te mogą być sterowane wspólnie przez system centralny lub indywidualnie. Dodatkowo w naszej hurtowni mogą zakupić Państwo nowoczesne pompy z serii EHS działające jako powietrze-woda (A2W). To sprzęt skierowany głównie do montażu w domach jednorodzinnych.

    .info__box
      .info__text
        .cmsContainer
          p Ważna jest dla nas także dbałość o środowisko naturalne, dlatego w naszym asortymencie mogą znaleźć Państwo także urządzenia ekologiczne marki LG. Przedstawiamy szeroką paletę klimatyzatorów przeznaczonych zarówno dla rozwiązań indywidualnych, jak i dla komercyjnych. Dzięki zaawansowanym technologiom zastosowanym przez LG są one w stanie zredukować negatywne oddziaływanie na środowisko naturalne poprzez zmniejszenie zużycia energii elektrycznej. W naszej hurtowni sprzedajemy także modele w serii ARTCOOL, które dzięki nieprzeciętnemu designowi doskonale sprawdzają się także jako efektowny dodatek we wnętrzach.
          p W Air 4 You nie tylko mogą zakupić Państwo nowoczesne urządzenia klimatyzacyjne i wentylacyjne. W naszym asortymencie znajdują się także urządzenia innych rodzajów w sektorze chłodniczym, a także akcesoria i materiały montażowe.
          p Jeżeli potrzebne są markowe centrale wentylacyjne, klimatyzatory wewnętrzne lub zewnętrzne, klimatyzatory multisplit, pokojowe, naścienne czy wentylatory venture, u nas znajdą Państwo ich szeroki wybór, a także przystępne ceny. Działamy na terenie Warszawy i okolic, a także całego kraju. Jeżeli są Państwo zainteresowani naszą ofertą, więcej informacji znajdą Państwo w zakładce „kontakt”.
      .info__welcome Zapraszamy! Air 4 You