.info
  .container
    .info__box.-full
      .info__title.-center KLIMATYZATORY LG
      .info__text
        .cmsContainer
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula purus sodales ligula tincidunt, sed condimentum neque cursus. Curabitur feugiat ante at ex ultricies facilisis. Pellentesque justo nunc, varius rutrum felis ac, sagittis convallis dolor. Phasellus euismod lobortis ultrices. Nunc molestie quam nec varius laoreet.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula purus sodales ligula tincidunt, sed condimentum neque cursus. Curabitur feugiat ante at ex ultricies facilisis. Pellentesque justo nunc, varius rutrum felis ac, sagittis convallis dolor. Phasellus euismod lobortis ultrices. Nunc molestie quam nec varius laoreet.
