.categor
  +clearfix
  padding: 20px 0

  &__title
    font-size: 36px
    border-bottom: 1px solid black
    border-top: 1px solid black
    padding: 15px 0
    text-align: center
    margin: 15px 0

  &__box
    width: 25%
    float: left