.categor
  .container

    .categor__title KLIMATYZATORY LG

    .categor__box
      include ../categorItem/_categorItem1
    .categor__box
      include ../categorItem/_categorItem2
    .categor__box
      include ../categorItem/_categorItem3
    .categor__box
      include ../categorItem/_categorItem4
    .categor__box
      include ../categorItem/_categorItem1