.moreInfo
  .container
    .moreInfo__title AKTUALNOŚCI
      .moreInfo__top

    .moreInfo__slick
      .moreInfo__news
        .moreInfo__newsBox
          img.moreInfo__newsImg(src="components/moreInfo/src/gal1.jpg" alt="galeria")
        .moreInfo__newsBox.-padding
          .moreInfo__date 2016-08-16
          .moreInfo__newsTitle Cały zespół POLLIN OdNOWA na stoisku targowym
          .moreInfo__newsText Podczas targów Automaticon 2013 zaprezentowaliśmhy pierwszą z naszych tegorcznych produktór przekaźnik czasowy MSTER.
          a.moreInfo__newsBtn(href="#") Więcej &gt;&gt;
      .moreInfo__news
        .moreInfo__newsBox
          img.moreInfo__newsImg(src="components/moreInfo/src/gal2.jpg" alt="galeria")
        .moreInfo__newsBox.-padding
          .moreInfo__date 2016-08-16
          .moreInfo__newsTitle Cały zespół POLLIN OdNOWA na stoisku targowym
          .moreInfo__newsText Podczas targów Automaticon 2013 zaprezentowaliśmhy pierwszą z naszych tegorcznych produktór przekaźnik czasowy MSTER.
          a.moreInfo__newsBtn(href="#") Więcej &gt;&gt;
      .moreInfo__news
        .moreInfo__newsBox
          img.moreInfo__newsImg(src="components/moreInfo/src/gal1.jpg" alt="galeria")
        .moreInfo__newsBox.-padding
          .moreInfo__date 2016-08-16
          .moreInfo__newsTitle Cały zespół POLLIN OdNOWA na stoisku targowym
          .moreInfo__newsText Podczas targów Automaticon 2013 zaprezentowaliśmhy pierwszą z naszych tegorcznych produktór przekaźnik czasowy MSTER.
          a.moreInfo__newsBtn(href="#") Więcej &gt;&gt;
      .moreInfo__news
        .moreInfo__newsBox
          img.moreInfo__newsImg(src="components/moreInfo/src/gal2.jpg" alt="galeria")
        .moreInfo__newsBox.-padding
          .moreInfo__date 2016-08-16
          .moreInfo__newsTitle Cały zespół POLLIN OdNOWA na stoisku targowym
          .moreInfo__newsText Podczas targów Automaticon 2013 zaprezentowaliśmhy pierwszą z naszych tegorcznych produktór przekaźnik czasowy MSTER.
          a.moreInfo__newsBtn(href="#") Więcej &gt;&gt;
      .moreInfo__news
        .moreInfo__newsBox
          img.moreInfo__newsImg(src="components/moreInfo/src/gal1.jpg" alt="galeria")
        .moreInfo__newsBox.-padding
          .moreInfo__date 2016-08-16
          .moreInfo__newsTitle Cały zespół POLLIN OdNOWA na stoisku targowym
          .moreInfo__newsText Podczas targów Automaticon 2013 zaprezentowaliśmhy pierwszą z naszych tegorcznych produktór przekaźnik czasowy MSTER.
          a.moreInfo__newsBtn(href="#") Więcej &gt;&gt;
