.download
  .download__title Pliki do pobrania

  .download__file.-two
    a.download__link(href="#")
      img.download__fileImg(src="components/download/src/pdf.png" alt="pdf")
      .download__fileText Karta katalogowa klimatyzatora
  .download__file.-two
    a.download__link(href="#")
      img.download__fileImg(src="components/download/src/pdf.png" alt="pdf")
      .download__fileText Karta katalogowa klimatyzatora
  .download__file.-two
    a.download__link(href="#")
      img.download__fileImg(src="components/download/src/pdf.png" alt="pdf")
      .download__fileText Karta katalogowa klimatyzatora
  .download__file.-two
    a.download__link(href="#")
      img.download__fileImg(src="components/download/src/pdf.png" alt="pdf")
      .download__fileText Karta katalogowa klimatyzatora
