.table
  .about__title Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)

  table.table__table
    tr.table__tableRow
      td.table__tableData Moc chłodnicza
      td.table__tableData 5kW
    tr.table__tableRow
      td.table__tableData Moc grzewcza
      td.table__tableData 5,5kW
    tr.table__tableRow
      td.table__tableData Pomieszczenie
      td.table__tableData 25-35m
    tr.table__tableRow
      td.table__tableData Klasa energetyczna
      td.table__tableData A+
