.categorItem
  a.categorItem__content(href="product.html")
    img.categorItem__img(src="components/categorItem/src/oferta2.jpg" alt="oferta")
    .categorItem__contentText Czujnik zaniku fazy i kolejności faz MKF-1P