.categorItem
  a.categorItem__content(href="product.html")
    img.product__img(src="components/categorItem/src/oferta1.jpg" alt="oferta")
    .categorItem__contentText Czujnik zaniku fazy i kolejności faz MKF-1P