.categorItem
  a.categorItem__content(href="products.html")
    img.categorItem__img(src="components/categorItem/src/oferta1.jpg" alt="oferta")
    .categorItem__contentText Klimatyzatory komercyjne