.details
  .container

    .details__top
      .details__page
        a.details__link(href="#") KLIMATYZATORY LG &lt;&lt;
        a.details__link(href="#") KLIMATYZATORY ŚCIENNE &lt;&lt;
      .details__title PRESTIGE INVERT

    .details__box
      include ../detailsItem/_detailsItem
    .details__box
      include ../detailsItem/_detailsItem
    .details__box
      include ../detailsItem/_detailsItem
    .details__box
      include ../detailsItem/_detailsItem
    .details__box
      include ../detailsItem/_detailsItem
    .details__box
      include ../detailsItem/_detailsItem