.logs(id="logos")
  .container

    .logs__box
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid1.jpg" alt="logs")
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid2.jpg" alt="logs")
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid3.jpg" alt="logs")
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid1.jpg" alt="logs")
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid2.jpg" alt="logs")
      a(href="#").logs__boxItem
        img.logs__boxImg(src="components/logs/src/slid3.jpg" alt="logs")
