.detailsItem
  .detailsItem__item
    .detailsItem__box
      img.detailsItem__img(src="../components/detailsItem/src/logo3.jpg" alt="logo")
    .detailsItem__box
      img.detailsItem__img.-frame(src="../components/detailsItem/src/product4.jpg" alt="logo")
      .detailsItem__warn NOWA CENA

  .detailsItem__item
    .detailsItem__top
      img.detailsItem__icon(src="../components/detailsItem/src/doc.png" alt="logo")
      img.detailsItem__icon(src="../components/detailsItem/src/foto.png" alt="logo")
      img.detailsItem__icon(src="../components/detailsItem/src/info.png" alt="logo")

    .detailsItem__title Klimatyzator LG ścienny ECONOMY MSZ-HJ25VA (jednostka wewnętrzna)
    .detailsItem__text Udoskonalone szerokie nawiewy zapewniające skuteczne rozporwadzanie powietrza, zapobiegając powstawaniu tzw martwych stref. Możliwość niezaleznego sterowania każdej z czterech żaluzji osobno dzięki instalacji indywidualnuch silników.

    a.detailsItem__btn(href="#") WIĘCEJ INFORMACJI