.detailsItem
  +clearfix
  border-bottom: 1px solid black
  padding-bottom: 30px
  box-sizing: border-box

  &__item
    float: left
    width: 50%
    box-sizing: border-box
    text-align: center
    +TAB_MAX
      width: 100%

    &.-padding
      padding: 0 0 10px 10px

  &__box
    width: 100%
    text-align: center
    position: relative

  &__img
    width: 100%
    transform: scale(0.8)
    +flex

    &.-frame
      display: block
      transform: scale(1)
      border: 1px solid gray
      box-sizing: border-box

  &__warn
    position: absolute
    left: 0
    top: 10px
    font-size: 18px
    padding: 5px 15px
    background: red
    color: white

  &__top
    padding-top: 60px
    width: 100%
    text-align: center

  &__icon
    display: inline-block

  &__title
    font-size: 16px
    text-align: left
    padding-bottom: 10px
    +PHONE_ONLY_600
      padding: 20px 0

  &__text
    font-size: 13px
    text-align: left
    padding-bottom: 10px
    +PHONE_ONLY_600
      padding-bottom: 30px

  &__btn
    display: inline-block
    font-size: 14px
    padding: 5px 20px
    background: $blue
    color: white
    border: 1px solid transparent
    transition: all 0.8s

    &:hover
      color: $blue
      background: white
      border: 1px solid $blue