.moreDetail
  .container

    .moreDetail__small
      a(href="components/moreDetail/src/prod3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").moreDetail__boxItem
        img.moreDetail__img(src="components/moreDetail/src/prod3.jpg" alt="czujnik")
      a(href="components/moreDetail/src/prod2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").moreDetail__box
        img.moreDetail__img.-small(src="components/moreDetail/src/prod2.jpg" alt="czujnik")
      a(href="components/moreDetail/src/prod3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post slid a little later on.</p>").moreDetail__box
        img.moreDetail__img.-small(src="components/moreDetail/src/prod3.jpg" alt="czujnik")


    .moreDetail__big
      .moreDetail__icons
        a.moreDetail__icon(href="#")
          img.moreDetail__pdf(src="components/moreDetail/src/logo.jpg" alt="pdf")
        a.moreDetail__icon.-right(href="#")
          i.fa.fa-th(aria-hidden="true")
      .moreDetail__table
        include ../table/_table
      .moreDetail__about
        include ../about/_aboutDetail
      .moreDetail__tabs
        include ../tabs/_tabs

