extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .corp
    include ../components/logs/_logs
  .inf
    include ../components/moreInfo/_moreInfo
  .slide
    include ../components/slider/_slider
  .products
    include ../components/product/_product
  .someText
    include ../components/info/_info
