extends _layout.pug

block content

  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner2
  .someText
    include ../components/info/_info-full
  .files
    include ../components/download/_download
  .produkty
    include ../components/details/_details

