extends _layout.pug

block content

  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .someText
    include ../components/info/_info2
  .files
    include ../components/download/_download
  .productesImg
    include ../components/product/_product-text


