.gallery
  .container

    .gallery__box
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid1.jpg" alt="galeria")
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid2.jpg" alt="galeria")
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid3.jpg" alt="galeria")
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid1.jpg" alt="galeria")
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid2.jpg" alt="galeria")
      a(href="#").gallery__boxItem
        img.gallery__boxImg(src="components/gallery/src/slid3.jpg" alt="galeria")
