.footer
  .container
    .footer__col
      .footer__title NA SKRÓTY
      a.footer__link(href="#") Klimatyzacja Warszawa
      a.footer__link(href="#") Wentylacja Warszawa
      a.footer__link(href="#") Klimatyzatory SAMSUNG
      a.footer__link(href="#") Klimatyzatory LG

    .footer__col
      .footer__title SZYBKI KONTAKT
        .footer__adres
          img.footer__img(src="components/footer/src/phone.png")
          .footer__text 601 363 814

        .footer__adres
          img.footer__img(src="components/footer/src/mail.png")
          .footer__text biuro@air4you.pl

    .footer__col
      .footer__title DOJAZD

        .footer__adres
          img.footer__img.-margin(src="components/footer/src/adres.png")
          .footer__text WARSZAWA
          .footer__text Ul. Powsińska 45
          a.footer__link(href="#") Zobacz jak do nas dojechać >>
        .footer__adres
          img.footer__img.-margin(src="components/footer/src/adres.png")
          .footer__text ZABRZE
          .footer__text Ul. Sienkiewicza 46
          a.footer__link(href="#") Zobacz jak do nas dojechać >>

    .footer__col
      .footer__title INFORMACJE O STRONIE

      a.footer__link(href="#") Polityka prywatności
      a.footer__link(href="#") Regulamin użytkowania strony
      a.footer__link(href="#") Mapa strony
      a.footer__link.-padding(href="#") Realizacja WaWmedia 2015



