.product.-padding
  .container
    .product__arrow

      .product__slick2

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc1.jpg" alt="tresc")
            .product__box
              .product__text.-small Odgrzybianie klimatyzatora ściennego

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc2.jpg" alt="tresc")
            .product__box
              .product__text.-small Instalacja klimatyzatora ściennego na poddaszu

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc3.jpg" alt="tresc")
            .product__box
              .product__text.-small Instalacja klimatyzatora na dachu hurtowni spożywczej

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc4.jpg" alt="tresc")
            .product__box
              .product__text.-small Instalacja klimatyzatora wewnętrznego

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc1.jpg" alt="tresc")
            .product__box
              .product__text.-small Odgrzybianie klimatyzatora ściennego

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc2.jpg" alt="tresc")
            .product__box
              .product__text.-small Odgrzybianie klimatyzatora ściennego

        a(href="components/product/src/tresc1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").product__boxItem
          .product__item
            .product__box
              img.product__img.-frame(src="../components/product/src/tresc3.jpg" alt="tresc")
            .product__box
              .product__text.-small Odgrzybianie klimatyzatora ściennego
