.product
  .container
    .moreInfo__title WYBRANE Z OFERTY

    .product__slick

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo1.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod1.jpg" alt="logo")
          .product__warn NOWA CENA
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo2.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod2.jpg" alt="logo")
          .product__warn NOWOŚĆ W OFERCIE
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo3.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod3.jpg" alt="logo")
          .product__warn NOWA CENA
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo4.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod4.jpg" alt="logo")
          .product__warn NOWA CENA
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo4.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod4.jpg" alt="logo")
          .product__warn NOWA CENA
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI

      .product__item
        .product__box
          img.product__img(src="../components/product/src/logo4.jpg" alt="logo")
        .product__box
          img.product__img.-frame(src="../components/product/src/prod4.jpg" alt="logo")
          .product__warn NOWA CENA
        .product__box
          .product__text Klimatyzator Mitsbishi ścienny ECONOMY MSZ-HJA25 (jednostka wewnętrzna)
        .product__box
          a.product__btn(href="#") WIĘCEJ INFORMACJI