.about.-aboutDetail

  .about__text Firma LG jest obecna na polskim rynku klimatyzacji od wielu lat. Klimatyzatory LG to połączenie przystępnej ceny z wysoką jakością. Urządzenia LG znane są z dużej niezawodności, która w połączeniu z nowoczesną technologią, estetycznym wyglądem oraz cichą pracą powoduje, że LG Electronics jest od lat światowym liderem w sprzedaży urządzeń klimatyzacyjnych. Firma Omega jako dealer klimatyzatorów LG zaprasza do skorzytania z oferty.