.menu
  .container

    a.menu__logo(href="main.html")
      include ../logo/_logo

    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .menu__nav
      .menu__top
        .menu__share
          .menu__shareBox
            input.menu__shareInput(placeholder="Wyszukaj na stronie")
            .menu__btn.fa.fa-search(type="button" aria-hidden="true")

      .menu__navBot
        a.menu__navItem(href="main.htsssml") O FIRMIE
        a.menu__navItem(href="list.html") AKTUALNOŚCI
        a.menu__navItem(href="details.html") PROMOCJE
        .menu__navItem
          .menu__name
            a.menu__link(href="badWay.html") PRODUKTY
            .menu__plus
              .menu__close +
          .menu__subMenu
            a.menu__sub.menu__subName(href="badWay.html") KLIMATYZATORY SAMSUNG
            .menu__sub
              .menu__subName
                a.menu__link(href="badWay.html") KLIMATYZATORY LG
                .menu__plus +
              .menu__level
                .menu__sub2
                  .menu__subName.-more
                    a.menu__link(href="badWay.html") POKOJOWE-ŚCIENNE
                    .menu__plus +
                  .menu__level2
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL STYLIST
                    a.menu__sub.menu__subName.-more2(href="badWay.html") PRESTIGE INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL SLIM
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL MIRROR
                    a.menu__sub.menu__subName.-more2(href="badWay.html") DELUXE INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") STANDARD INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") BASIC INVERTER
                .menu__sub2
                  .menu__subName.-more
                    a.menu__link(href="badWay.html") KOMERCYJNE
                    .menu__plus +
                  .menu__level2
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL STYLIST
                    a.menu__sub.menu__subName.-more2(href="badWay.html") PRESTIGE INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL SLIM
                    a.menu__sub.menu__subName.-more2(href="badWay.html") ARTCOOL MIRROR
                    a.menu__sub.menu__subName.-more2(href="badWay.html") DELUXE INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") STANDARD INVERTER
                    a.menu__sub.menu__subName.-more2(href="badWay.html") BASIC INVERTER
                a.menu__sub2.menu__subName.-more(href="badWay.html") SYNCHRO AGREGATY
                a.menu__sub2.menu__subName.-more(href="badWay.html") MULTI SPLIT
                a.menu__sub2.menu__subName.-more(href="badWay.html") AKCESORIA
                a.menu__sub2.menu__subName.-more(href="badWay.html") CENTRALE REKUPERACYJNE

            a.menu__sub.menu__subName(href="badWay.html") KLIMATYZATORY TOSHIBA
            a.menu__sub.menu__subName(href="badWay.html") KLIMATYZATORY MITSUBISHI
        a.menu__navItem(href="badWay.html") PLIKI DO POBRANIA
        a.menu__navItem(href="badWay.html") SZKOLENIA
        a.menu__navItem(href="badWay.html") KONTAKT
